@import "tailwindcss";
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  background: #23272f;
}
::-webkit-scrollbar-thumb {
  background: #22272b;
  border-radius: 4px;
}